body{
    font-family: 'Oxygen', sans-serif;
    background-color: #ffffff;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
header{
    padding-bottom: 60px;
}
.wrapper{
}
.first-screen{
    background-image: url(/img/dron-bg.svg);
    background-repeat: no-repeat;
    height: 740px;
    background-position: center;
}
.nav{
    padding-top: 27px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.list{
    list-style-type: none;
    font-weight: 400;
}
.social-list{
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.phone,.whatsapp{
    font-size: 20px;
}
.email{
    font-size: 18px;
}
.language{
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}
.flex{
    display: flex;
    margin: 0 10px;
    font-size: 17px;
}
.title{
    padding-left: 50px;
    padding-right: 50px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    background-image: url(/img/dron.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.img{
    padding-right: 32px;
}
.title-text1{
    font-size: 35px;
    padding-bottom: 8px;
}
.title-text2{
    font-size: 40px;
    padding-bottom: 8px;
}
.title-text3{
    font-size: 35px;
    padding-bottom: 8px;
}
.title-text4{
    font-size: 46px;
    font-weight: 700;
}
.title-img{
    padding-top: 16px;
}
.btn-look{
    margin-top: 30px;
    color: #ffffff;
    background-color: #FF6B00;
    width: 300px;
    height: 45px;
    font-size: 20px;
    border-radius: 7px;

    margin-right: 25px;
}
.form{
    background-image: url(/img/form-bg.svg);
    display: flex;
    flex-direction: column;
    padding: 20px 50px 130px 50px;
}
.form-title{
    font-size: 30px;
    text-align: center;
    line-height: 25px;

    color: black;
    font-weight: 400;
}
.form-input{
    width: 300px;
    height: 45px;
    margin: 10px;

    margin-left: 25px;
}
.form-input-p{
    font-weight: 300;
    font-size: 17px;
    color: #404040;
}
.form-button{
    margin-top: 30px;
    color: #ffffff;
    background-color: #FF6B00;
    width: 300px;
    height: 45px;
    font-size: 20px;
    border-radius: 7px;

    margin-left:25px;
}
.icon-btn{
    padding-top: 5px;
    width: 18px;
    padding-right: 10px;
}

.p-eula{
    color: #404040;

    max-width: 300px;
    padding-left: 25px;
}


.description{
    font-size: 19px;
    color: black;
    max-width: 1080px;
    padding-left: 180px;
}


.description__title{
    text-align: center;
    font-size: 38px;
    font-weight: 400;
}


.blue__color{
    color: #0FA8F4;
    font-weight: 700;
}


.advantages{
    
}


.advantages__title{
    color: black;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    padding: 50px;
}